* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #3f5f7a;
  color: #fff;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
